body {
    background-color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.container {
    align-items: center;
    margin: 0;
    padding: 10px;
}

.img {
    width: 35vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    object-fit: cover;
    display: block;
    position: relative;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #000000;
}

.text {
    color: #000000;
    margin-left: 0;
    justify-content: center;
    margin: 20%;
    display: flex;
    flex-direction: column;
}

.text a {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    margin: 50px 0;
    display: block;
    transition: 0.3s ease;
}

.text a:hover {
    font-size: 2.5rem;
    color: rgba(64, 226, 255, 0.813);
}

@media screen and (max-width: 1112px) {
    .container {
        align-items: center;
        padding: 10px;
    }

    .text {
        margin: 20%;
    }

    .text a {
        font-size: 2rem;
        margin: 30px 0;
    }

    .text a:hover {
        font-size: 2.5rem;
    }
}

/*Tablet */
@media screen and (max-width: 768px) {
    .container {
        align-items: center;
        padding: 10px;
    }


    .text a {
        font-size: 1.2rem;
        margin-top: 100px;
    }

    .text a:hover {
        font-size: 1.5rem;
    }
}

/*Mobile */
@media screen and (max-width: 360px) {
    .container {
        width: 90%;
        padding: 20px;
    }


    .img {
        width: 40%;

    }


    .text a {
        font-size: 1rem;
        margin-left: 20px;
    }

    .text a:hover {
        font-size: 1.2rem;
    }
}